/* base */
:root {
  --bg-color: #f5f5f5;
}

html,
body,
#app {
  height: 100%;
  background: var(--bg-color);
  transition: background 0.8s !important;
}

html.dark {
  --bg-color: #201a1a;
  color-scheme: dark;
}

/* nprogress */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--md-sys-color-surface-variant, #000);
  opacity: 0.75;
  position: fixed;
  z-index: 2024;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* user select */

* {
  user-select: none;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* safari fix */
/* safari 还是吃屎去吧 */
